.home {
    position: relative;
}
.home-slider {
    width: 100%;
    height: 480px;

    overflow: hidden;

    position: relative;
}
.home-slider-list {
    width: 9961px;
    height: 480px;
    /* 解决高度塌陷 */
    overflow: hidden;

    position: absolute;
    /*left: -1440px;*/
}
.home-slider-container {
    /* 根据实际页面的宽度进行设置 - 通过JavaScript实现 */
    width: 1423px;
    height: 480px;
    float: left;
    /* 解决内容溢出 */
    overflow: hidden;
}
.home-slider-link {
    display: block;
    width: 1240px;
    height: 480px;
    margin: 0 auto;
}
.home-slider-img {
    width: 1920px;
    height: 480px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 60px;
    margin-top: -30px;
    outline: 0;
    border: none;
    cursor: pointer;
    color: #EFEFEF;
    background-color: transparent;
    transition: all .5s;
    text-align: center;
    line-height: 60px;
}
.slick-arrow:hover {
    background-color: rgba(0,0,0,.5);
}
.slick-prev {
    margin-left: -376px;
}
.slick-next {
    margin-left: 590px;
}
.font-prev,.font-next {
    font-family: home-font!important;
    font-size: 16px;
}
.font-prev::before {
    content: '\E65B';
}
.font-next::before {
    content: '\E659';
}
.slick-dots {
    position: absolute;
    width: 1240px;
    left: 50%;
    bottom: 10px;
    text-align: center;
    margin-left: -620px;
}
.slick-ative .home-slider-dot {
    background: #00c3f5;
    border-color: #00c3f5;
}
.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.home-slider-dot {
    background: 0 0;
    color: transparent;
    border: 1px solid #BDBDBD;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    outline: 0;
    font-size: 0;
    cursor: pointer;
}

.home-container {
    /* 实现居中的手段 - 从margin实现，改变成position实现 */
    /*margin: 0 auto;*/

    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}
.home-menu {
    width: 244px;
    height: 468px;
    background-color: rgba(248,247,247,0.8);

    list-style: none;

    padding: 12px 0 0 0;

    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -620px;
}
.home-menu-item {
    height: 57px;
    line-height: 57px;
    background-color: transparent;
}
.home-menu-item:hover {
    background-color: #fff;
}
.home-menu-link {
    padding: 0 30px;
    display: block;
    color: #333;
    height: 100%;
    text-decoration: none;
}

.home-menu-child {
    position: absolute;
    height: 480px;
    left: 244px;
    top: 0;
    background-color: #fff;
    white-space: nowrap;
    font-size: 0;
}
.home-menu-child-list {
    display: inline-block;
    vertical-align: top;
    margin: 15px 28px 15px 25px;
    width: 320px;
    height: 450px;
}
.home-menu-child-item {
    float: left;
    font-size: 12px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    color: #333;
    margin-bottom: 16px;
    transition: all .5s;
    overflow: hidden;
}
.home-menu-child-item:hover {
    color: #00c3f5;
}
.home-menu-child-item.title {
    position: relative;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #F5F5F5;
    margin-top: 4px;
}
.home-menu-child-item.title::after {
    position: absolute;
    height: 100%;
    right: 10px;
    font-family: home-font;
    content: '\E659';
    font-size: 12px;
    color: #D5D5D5;
}
.home-menu-child-img {
    float: left;
    width: 40px;
    height: 40px;
}
.home-menu-child-text {
    float: left;
    margin-left: 6px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.home-server {
    margin-top: 6px;
    height: 140px;
    overflow: hidden;
}
.home-server-item {
    float: left;
    width: 244px;
    height: 100%;
    margin-left: 5px;
}
.home-server-item:first-child {
    margin-left: 0px;
    background-color: #f9f9f9;
}
.home-server-link {
    display: block;
    width: 244px;
    height: 100%;
}
.home-server-img {
    width: 100%;
    height: 100%;
}
.home-server-icon {
    float: left;
    display: block;
    width: 122px;
    height: 40px;
    text-align: center;
    color: #666;
    font-size: 12px;
    padding: 15px 0;
    text-decoration: none;
}
.font-mcode,.font-mcycle,.font-insurance,.font-queryOrder {
    font-family: home-font!important;
    display: block;
    font-size: 24px;
    margin-bottom: 2px;
    font-weight: 100;
}
.font-mcode::before {
    content: '\E658';
}
.font-mcycle::before {
    content: '\E65A';
}
.font-insurance::before {
    content: '\E63B';
}
.font-queryOrder::before {
    content: '\E65D';
}

.home-hot {
    margin: 40px auto;
    overflow: visible;
}
.home-hot-header {
    margin-bottom: 20px;
    overflow: hidden;
}
.home-hot-title {
    float: left;
    font-size: 24px;
    color: #333;
}
.home-hot-ctrl {
    float: right;
}
.home-hot-ctrl-btn {
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
    cursor: pointer;
}
.home-hot-ctrl-btn.disabled {
    border-color: #EFEFEF;
    color: #EFEFEF;
}
.home-hot-ctrl-btn:hover {
    border-color: #00c3f5;
    color: #00c3f5;
}
.font-prev1,.font-next1 {
    font-family: home-font!important;
    font-size: 16px;
}
.font-prev1::before {
    content: '\E660';
}
.font-next1::before {
    content: '\E661';
}
.home-hot-content {
    position: relative;
    width: 1241px;
    height: 340px;
    overflow: hidden;
}
.home-hot-list {
    position: absolute;
    left: 0px;
    font-size: 0;
    white-space: nowrap;
}
.home-hot-product {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #EFEFEF;
    width: 247px;
    margin-right: -1px;
    font-size: 14px;
    height: 338px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
}
.home-product-link {
    display: block;
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
    text-decoration: none;
}
.home-product-img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 36px auto 0;
}
.home-product-title {
    font-size: 14px;
    color: #555757;
    margin-top: 40px;
    font-weight: 400;
}
.home-product-subtitle {
    font-size: 12px;
    color: #999;
    margin-top: 2px;
}
.home-product-subtitle-label {
    margin-right: 5px;
    padding: 0 5px;
    color: #fff;
    background-color: #f14361;
}
.home-product-bottom {
    color: #e02b41;
    font-size: 12px;
    margin-top: 5px;
}
.home-product-price {
    padding-right: 2px;
    margin: 0 4px;
    font-size: 14px;
}
.home-product-price::before {
    content: '\FFE5';
    font-size: 12px;
}

.home-floor {
    background-color: #f5f5f5;
}
.home-floor-item:first-child .home-floor-adv {
    margin-bottom: 70px;
}
.home-floor-adv {
    height: 120px;
    overflow: hidden;
    margin-bottom: 40px;
}
.home-floor-adv-content {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 120px;
    background-color: #fff;
    padding-bottom: 30px;
}
.home-floor-link {

}
.home-floor-img {
    width: 1240px;
    height: 120px;
}
.home-floor-content {
    overflow: hidden;
    min-height: 772px;
}
.home-floor-header {
    overflow: hidden;
}
.home-floor-title {
    float: left;
    font-size: 24px;
    color: #333;
}
.home-floor-nav {
    float: left;
    padding-top: 6px;
}
.home-floor-nav-link {
    margin-left: 30px;
    line-height: 24px;
    color: #333;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}
.home-floor-nav-link.active {
    color: #00c3f5;
    border-bottom-color: #00c3f5;
}
.home-floor-more {
    float: right;
    font-size: 14px;
    color: #333;
    padding-top: 8px;
    margin-right: 10px;
}
.home-product-list {
    display: block;
    width: 1246px;
    margin-top: 20px;
    margin-bottom: 35px;
    overflow: hidden;
}
.home-product-list-item:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    top: -2px;
    z-index: 2;
}
.home-product-list-item {
    float: left;
    top: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    font-size: 14px;
    width: 244px;
    height: 338px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
}
.home-product-list-item.adv .home-product-link {
    padding: 0;
}
.home-product-list-item.adv .home-product-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
.home-product-sign {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    background-color: #00c3f5;
}